---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { COLLECTION_NAMES } from "../content.config";
import Layout from "../layouts/Layout.astro";

let posts = [];
for (const collection of COLLECTION_NAMES as const) {
  const collectionPosts = await getCollection(collection);
  posts = posts.concat(collectionPosts);
}

posts.sort((a, b) => {
  const dateA =
    new Date(a.data.updatedOn).getTime() ||
    new Date(a.data.publishedOn).getTime();
  const dateB =
    new Date(b.data.updatedOn).getTime() ||
    new Date(b.data.publishedOn).getTime();

  return dateB - dateA; // Sort in descending order
});

interface Props {
  entry: CollectionEntry<"food" | "links" | "tech" | "craft">;
}
---

<script src="../components/live-window" />

<script>
  setTimeout(() => {
    const el = document.getElementById('top-window');
    if (el) {
      const date = new Date();
      date.setHours(0, 0, 0); // Set the time to 10:00 AM
      el.config = {
        useLiveWeather: true,
        useLiveTime: true,
        now: date,
        // clock: {
        //   format: "digital",
        //   // showSeconds: false,
        // },
        // percipitation: {
        //   enabled: true,
        //   intensity: 1,
        // },
      };
    }
  }, 1000);
  // setTimeout(() => {
  //   const el = document.getElementById('top-window');
  //   if (el) {
  //     el.config = {
  //       clock: {
  //         format: "analog",
  //       },
  //     };
  //   }
  // }, 3000);
</script>

<Layout>
  <div class="grid grid-cols-5 gap-1 p-1 auto-rows-[40vh] text-gray-100">
    <div class="row-span-2 grid grid-cols-subgrid gap-1">
      <div class="flex bg-gray-900 p-4 rounded-4xl">06</div>
      <div class="flex bg-gray-900 p-4 rounded-4xl">07</div>
    </div>
    <div class="row-span-2 col-span-4 grid grid-cols-subgrid gap-1">
      <div class="flex overflow-hidden rounded-4xl row-span-2 col-span-3">
        <live-window id="top-window" class="w-full h-full"></live-window>
      </div>
      <div class="flex bg-gray-900 p-4 rounded-4xl row-span-2">
        current weather & controls
      </div>
    </div>
    {
      posts.map((post) => (
        <div class="flex bg-gray-900 p-4 rounded-4xl overflow-clip">
          {post.collection === "links" ? (
            <a href={`/${post.collection}/${post.id}/`}>{post.id}</a>
          ) : (
            <a href={`/${post.collection}/${post.id}/`}>
              {post.data.title || post.id}
            </a>
          )}
        </div>
      ))
    }
  </div>
</Layout>
