---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { COLLECTION_NAMES } from "../content.config";
import Layout from "../layouts/Layout.astro";

let posts = [];
for (const collection of COLLECTION_NAMES as const) {
  const collectionPosts = await getCollection(collection);
  posts = posts.concat(collectionPosts);
}

posts.sort((a, b) => {
  const dateA =
    new Date(a.data.updatedOn).getTime() ||
    new Date(a.data.publishedOn).getTime();
  const dateB =
    new Date(b.data.updatedOn).getTime() ||
    new Date(b.data.publishedOn).getTime();

  return dateB - dateA; // Sort in descending order
});

interface Props {
  entry: CollectionEntry<"food" | "links" | "tech" | "craft">;
}
---

<script src="../components/live-window"></script>

<script>
  import type { ILiveWindowSceneConfig } from "../components/live-window/types";
  // setTimeout(() => {
  //   const el = document.getElementById('top-window');
  //   if (el) {
  //     const date = new Date();
  //     date.setHours(0, 0, 0);
  //     const config: ILiveWindowSceneConfig = {
  //       useLiveWeather: true,
  //       useLiveTime: true,
  //       overrideTime: date,
  //       overrideWeather: "11d",
  //       clockFormat: "digital",
  //     }
  //     el.config = config;
  //   }
  // }, 10000);
</script>

<Layout>
  <div class="p-8">
    <div
      class="relative grid grid-cols-2 gap-8 xl:grid-rows-4 xl:grid-cols-5 xl:h-[95svh]"
    >
      <div
        class="grid grid-cols-subgrid xl:grid-rows-subgrid gap-8 col-span-2 xl:col-span-1 xl:row-span-4"
      >
        <div class="flex bg-brand-50 p-4 rounded-3xl row-span-2">
          thalida.com / about
        </div>
        <div class="flex bg-brand-50 p-4 rounded-3xl row-span-1">nav</div>
        <div class="flex bg-brand-50 p-4 rounded-3xl row-span-1">links</div>
      </div>

      <div
        class="flex rounded-3xl col-span-2 xl:col-span-3 xl:row-span-4 overflow-hidden h-[75svh] xl:h-full"
      >
        <livewindow-scene data-group="main-window" class="h-full w-full"
        ></livewindow-scene>
      </div>

      <div
        class="grid grid-cols-subgrid xl:grid-rows-subgrid gap-8 col-span-2 xl:col-span-1 xl:row-span-4"
      >
        <div class="flex bg-brand-50 p-4 rounded-3xl xl:row-span-1 grow-0">
          <livewindow-details data-group="main-window"></livewindow-details>
        </div>
        <div class="flex bg-brand-50 p-4 rounded-3xl xl:row-span-3">
          controls
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 xl:grid-cols-4 gap-8 mt-8">
      <div class="col-span-full">Header</div>
      {
        posts.map((post) => (
          <div class="flex bg-brand-50 p-4 rounded-4xl overflow-clip  aspect-square">
            {post.collection === "links" ? (
              <a href={`/${post.collection}/${post.id}/`}>{post.id}</a>
            ) : (
              <a href={`/${post.collection}/${post.id}/`}>
                {post.data.title || post.id}
              </a>
            )}
          </div>
        ))
      }
    </div>
  </div>
</Layout>
